{
  "input": "",
  "output": "openapi-v3-typescript",
  "reactQuery": {
    "enable": true,
    "pageParam": "pageParam",
    "getNextPageParam": "(lastPage, allPages) => {\n\t\t\tif (!lastPage?.hasNextPage) return undefined;\n\t\t\treturn allPages.length;\n\t}"
  },
  "getControllerNameFromRoute": "(route) => route.split('/')[0]",
  "includedControllers": [],
  "excludedControllers": []
}
